<main>
  <h1>Forecast Results</h1>

  <p>
    Address: <%= @address %>
  </p>

  <section id="forecast-results">
    <h2>Results</h2>
    <div>
      Forecast data will render here.
    </div>
  </section>

  <p style="margin-top: 16px;">
    <%= link_to "Search again", new_forecast_path %>
  </p>
</main>
